:root {
    --radius: 6px;

    --color-bg: #282a36;
    --color-bg-alt: #1e1f29;

    --color-fg: #f8f8f2;
    --color-muted: #6272a4;

    --color-primary: #bd93f9;
    --color-secondary: #ff79c6;

    --color-success: #50fa7b;
    --color-danger: #ff5555;
    --color-warning: #f1fa8c;
    --color-info: #8be9fd;
}

html, body {
    background-color: var(--color-bg);
    color: var(--color-fg);
}